<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="utf-8" />
		<title> | Quên Mật Khẩu</title>
		<meta name="description" content="Login page example">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--begin::Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

		<!--end::Fonts -->

		<!--begin::Page Custom Styles(used by this page) -->
		<link th:href="@{/admin/assets/css/pages/login/login-3.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/admin/assets/plugins/global/plugins.bundle.css}" rel="stylesheet" type="text/css" />

		<!--end::Page Custom Styles -->

		<!--begin::Global Theme Styles(used by all pages) -->
		<link th:href="@{/admin/assets/plugins/global/plugins.bundle.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/admin/assets/css/style.bundle.css}" rel="stylesheet" type="text/css" />

		<!--end::Global Theme Styles -->

		<!--begin::Layout Skins(used by all pages) -->
		<link th:href="@{/admin/assets/css/skins/header/base/light.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/admin/assets/css/skins/header/menu/light.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/admin/assets/css/skins/brand/dark.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/admin/assets/css/skins/aside/dark.css}" rel="stylesheet" type="text/css" />

		<!--end::Layout Skins -->
		<link rel="shortcut icon" th:href="@{/admin/assets/media/logos/favicon.ico}" />
		   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body  class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
	<!-- begin:: Page -->
		<div class="kt-grid kt-grid--ver kt-grid--root">
			<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(assets/media/bg/bg-3.jpg);">
					<div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
						<div class="kt-login__container">
							<a href="#">
								<img th:src="@{/admin/assets/media/logos/logo_main.png}" style="width: 125px;">
							</a>
							<div class="kt-login__signin">
								<div class="kt-login__head">
									<div th:if="${message}" th:text="${message}" class="message"></div>
									<div th:if="${errorMessage}" th:text="${errorMessage}" class="errorMessage"></div>
									<h3 class="kt-login__title">Nhập Mật Khẩu Mới</h3>
									<!-- <div class="kt-login__desc">Nhập Mật Khẩu Mới:</div> -->
								</div>
								<form class="kt-form" th:action="@{/admin/reset-password}" method="post">
									<input type="hidden" name="token" th:value="${token}" />
									<div class="input-group">
										<input class="form-control" type="text" placeholder="Nhập mật khẩu mới..." name="password" id="kt_email" autocomplete="off">
									</div>
									<div class="kt-login__actions">
										<button id="kt_login_forgot_submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Đặt Lại</button>&nbsp;&nbsp;
										<a id="kt_login_forgot_cancel" href="/admin/checkLogin" class="btn btn-light btn-elevate kt-login__btn-secondary">Hủy</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>