<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Product Size</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/admin/assets/css/style.bundle.css}"/>
	<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
	<link th:href="@{/admin/assets/plugins/global/plugins.bundle.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/admin/assets/css/style.bundle.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/admin/assets/css/skins/header/base/light.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/admin/assets/css/skins/header/menu/light.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/admin/assets/css/skins/brand/dark.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/admin/assets/css/skins/aside/dark.css}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" th:href="@{/admin/assets/media/logos/favicon.ico}" />
	   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>Update Product Size</h1>
	<form action="#" th:action="@{/updateProductSize/{id}(id=${productSize.id})}" th:object="${productSize}" method="post">
	    <table>
			<tr>
				<td>
					<div class="form-group">
				        <label for="">Quantity</label>
				        <input type="text" th:field="*{quantity}" id="" class="form-control">
				    </div>
				</td>
				<td>
					<div class="form-group">
				        <label for="">Size</label>
				        <input type="text" th:field="*{size}" id="" class="form-control">
				    </div>
				</td>
			</tr>
			<tr>
	            <td colspan="2">
					<a onclick="history.back()" class="btn btn-clean btn-icon-sm">
						<i class="la la-long-arrow-left"></i>Quay Lại
					</a>
				</td>
				<td>
					<button type="submit" class="btn btn-primary">Update</button>			
				</td>
			</tr>
		</table>
	</form>
</body>
</html>
