<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/admin/assets/css/style.bundle.css}"/>
	<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
	<link th:href="@{/admin/assets/plugins/global/plugins.bundle.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/admin/assets/css/style.bundle.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/admin/assets/css/skins/header/base/light.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/admin/assets/css/skins/header/menu/light.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/admin/assets/css/skins/brand/dark.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/admin/assets/css/skins/aside/dark.css}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" th:href="@{/admin/assets/media/logos/favicon.ico}" />    
	<th:block th:insert="admin/fragments/common :: global_css"></th:block>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- header -->
	<header th:replace="admin/fragments/header"></header>
    <div class="kt-grid kt-grid--hor kt-grid--root">
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

				<!-- begin:: Aside -->
				<div th:replace="admin/fragments/sidebar"></div>
				<!-- end:: Aside -->
				
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

					<!-- begin:: Header -->
					<!--<div th:replace="admin/fragments/header :: header"></div>-->
					<!-- end:: Header -->

					<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

						<!-- begin:: Content Head -->
						<!--<div th:replace="admin/fragments/header :: sub_header"></div>-->
						<!-- end:: Content Head -->
						
						<!-- begin:: Content -->
						<div id="router-outlet" class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
							<div class="kt-portlet kt-portlet--mobile">
							<h1>Cập nhật người dùng</h1>
						    <form action="#" th:action="@{/updateUser/{id}(id=${user.id})}" th:object="${user}" method="post">
								<table class="w3-table-all">
								    <tr>
						                <td>Tên:</td>
						                <td><input type="text" th:field="*{name}" /></td>
						            </tr>
						            <tr>
						                <td>Email:</td>
						                <td><input type="email" th:field="*{email}" /></td>
						            </tr>
						          	<tr>
						                <td>Mật khẩu:</td>
						                <td><input type="text" th:field="*{password}" /></td>
						            </tr>
						            <tr>
						                <td>Địa chỉ:</td>
						                <td><input type="text" th:field="*{address}" /></td>
						            </tr>
						            <tr>
									    <td>Vai trò:</td>
									    <td>
									        <select th:field="*{role}">
									            <option value="user" th:text="User">User</option>
									            <option value="employee" th:text="Employee">Employee</option>
									            <option value="admin" th:text="Admin">Admin</option>
									        </select>
									    </td>
									</tr>
						            <tr>
						                <td>Điện thoại:</td>
						                <td><input type="text" th:field="*{phone}"></td>
						            </tr>
						            <tr>
						                <td>Ngày sinh:</td>
						                <td><input type="date" th:field="*{dateOfBirth}" /></td>
						            </tr>
								    <tr>
								        <td colspan="2">
											<a onclick="history.back()" class="btn btn-clean btn-icon-sm">
												<i class="la la-long-arrow-left"></i>Quay Lại
											</a>
										</td>		
								        <td colspan="2"><button type="submit" class="btn btn-primary">Cập nhật</button></td>
								    </tr>
								</table>
						    </form>
						</div>
						<!-- end:: Content -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="admin/fragments/footer"></footer>
</body>
</html>
