<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên Mật Khẩu</title>
	<base th:replace="shopper/fragments/common :: base">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<!-- header -->
<header th:replace="shopper/fragments/header"></header>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container">
			<div class="tt-login-form">
				<div class="row">
				    <div class="col-xs-12 col-md-6">
				    	<div class="tt-item">
				    		<h2>Nhập email của bạn</h2>
				    		<div th:if="${fgmessage}" class="alert alert-success" role="alert">
                                <p th:text="${fgmessage}"></p>
                            </div>
                            <div th:if="${fgerrorMessage}" class="alert alert-danger" role="alert">
                                <p th:text="${fgerrorMessage}"></p>
                            </div>
					        <div class="form-default form-top">
								<form th:action="@{/forgot-password}" method="post">
									<div class="form-group">
										<label for="email">Nhập email của bạn:</label>
								    	<input type="email" name="email" placeholder="Nhập email của bạn..." required>
								    </div>
								    <button class="btn btn-border" type="submit">Gủi</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer -->
<footer th:replace="shopper/fragments/footer"></footer>

<!-- modal -->
<div th:replace="shopper/fragments/modal :: subsribeGood"></div>

<script src="external/jquery/jquery.min.js"></script>
<script src="external/bootstrap/js/bootstrap.min.js"></script>
<script src="external/panelmenu/panelmenu.js"></script>
<script src="external/slick/slick.min.js"></script>
<script src="external/lazyLoad/lazyload.min.js"></script>
<script src="js/main.js"></script>
<script src="https://kit.fontawesome.com/e8c97ff706.js" crossorigin="anonymous"></script>
</body>
</html>