<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Trang chủ</title>
	<meta name="keywords" content="Library Store">
	<meta name="description" content="Library Store">
	<meta name="author" content="Library">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base th:replace="~{shopper/fragments/common :: base}">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/toastr.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<!-- header -->
<header th:replace="~{shopper/fragments/header}"></header>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="tt-block-title">
				<h1 class="tt-title">SÁCH MỚI</h1>
			</div>
			<!--<div class="row tt-layout-product-item">
				<div th:each ="product : ${products}" class="col-6 col-md-4 col-lg-3">
					<div class="tt-product thumbprod-center">
						<div class="tt-image-box">
 							<a href="#" class="tt-btn-qui	ckview" data-toggle="modal" data-target="#ModalquickView"	data-tooltip="Xem Trước" data-tposition="left"></a> 
							<a href="#" class="tt-btn-wishlist" data-tooltip="Yêu Thích" th:if="${isSignedIn}" th:classappend="${product.isWishList} ? 'active' : ''" data-tposition="left"></a>
							<input class="productBoxId" type="hidden" th:value="${product.id}">
							<a th:href="@{/product/} + ${product.id}">
								<span class="tt-img"><img src="images/loader.svg" th:data-src="${product.primaryImage()}" alt=""></span>
								<span class="tt-img-roll-over" th:each="image,iter : ${product.otherImages()}">
									<img th:if="${iter.index==0}" src="images/loader.svg" th:data-src="${image}" alt="">
								</span>
								<span class="tt-label-location">
									<span class="tt-label-new d-none" th:text="${product.status}">Mới</span>
								</span>
							</a>
						</div>
						<div class="tt-description">
							<div class="tt-row">
								<ul class="tt-add-info">
									<li><a href="#"><br></a></li>
								</ul>
							</div>
							<h2 class="tt-title">
								<a th:href="@{/product/} + ${product.id}" th:text="${product.brand.name + ' ' + product.name + ' - ' + product.versionName}">Name</a>
							</h2>
							<div class="tt-price" th:text="${product.formatPrice()}">
								price
							</div>
							<div class="tt-product-inside-hover">

								<div class="tt-row-btn">
									<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>
									<a href="#" class="tt-btn-wishlist"></a>
									<a href="#" class="tt-btn-compare"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>-->
			<!--<div class="row tt-layout-product-item">
				<div th:each ="product : ${latest_products}" class="col-6 col-md-4 col-lg-3">
					<div class="tt-product thumbprod-center">
						<div class="tt-image-box">
						<a href="#" class="tt-btn-qui	ckview" data-toggle="modal" data-target="#ModalquickView"	data-tooltip="Xem Trước" data-tposition="left"></a>
							<a href="#" class="tt-btn-wishlist" data-tooltip="Yêu Thích" th:if="${user != null}" th:classappend="${product.isWishList} ? 'active' : ''" data-tposition="left"></a>
							<a href="#" class="tt-btn-wishlist" data-tooltip="Yêu Thích" th:if="${user != null}" data-tposition="left"></a>
							<input class="productBoxId" type="hidden" th:value="${product.id}">
							<a th:href="@{/product/} + ${product.id}">
								<span class="tt-img"><img src="images/loader.svg" th:data-src="${product.primaryImage()}" alt=""></span>
								<span class="tt-img-roll-over" th:each="image,iter : ${product.otherImages()}">
									<img th:if="${iter.index==0}" src="images/loader.svg" th:data-src="${image}" alt="">
								</span>
								<span class="tt-label-location">
									<span class="tt-label-new" th:text="${product.status}">Mới</span>
								</span>
							</a>
						</div>
						<div class="tt-description">
							<div class="tt-row">
								<ul class="tt-add-info">
									<li><a href="#"><br></a></li>
								</ul>
							</div>
							<h2 class="tt-title">
								<a th:href="@{/product/} + ${product.id}" th:text="${product.brand.name + ' ' + product.name}">Name</a>
							</h2>
							<div class="tt-price" th:text="${product.formatPrice()}">
								price
							</div>
							<div class="tt-product-inside-hover">

								<div class="tt-row-btn">
									<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>
									<a href="#" class="tt-btn-wishlist"></a>
									<a href="#" class="tt-btn-compare"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>-->
			<div class="row tt-layout-product-item">
			    <div th:each="product : ${newProducts}" class="col-6 col-md-4 col-lg-3">
			        <div class="tt-product thumbprod-center">
			            <div class="tt-image-box">
			                <input class="productBoxId" type="hidden" th:value="${product.id}">
			                <a th:href="@{/product/} + ${product.id}">
			                    <span class="tt-img"><img src="images/loader.svg" th:data-src="${product.primaryImage}" alt=""></span>
			                    <span class="tt-label-location">
			                        <span class="tt-label-new" th:text="${product.status}">Mới</span>
			                    </span>
			                </a>
			            </div>
			            <div class="tt-description">
			                <div class="tt-row">
			                    <ul class="tt-add-info">
			                        <li><a href="#"><br></a></li>
			                    </ul>
			                </div>
			                <h2 class="tt-title">
			                    <a th:href="@{/product/} + ${product.id}" th:text="${product.brand.name + ' ' + product.name}">Name</a>
			                </h2>
			                <!-- <div class="tt-price" th:text="${product.formatPrice()}">
			                    price
			                </div> -->
			            </div>
			        </div>
			    </div>
			</div>
			<div class="text-center tt_product_showmore">
				<a th:href="@{/product-listing}" class="btn btn-border" >XEM THÊM</a>
			</div> 
		</div>
	</div>
	<div class="container-indent">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
<!--					<h6 class="tt-title-sub">SÁCH MỚI</h6>
-->					<div class="tt-layout-vertical-listing">
						<!--<div class="tt-item" th:each ="product : ${newProducts}">
							<div class="tt-layout-vertical">
								<div class="tt-img">
									<a th:href="@{/product/} + ${product.id}">
										<span class="tt-img-default"><img src="images/loader.svg" th:data-src="${product.primaryImage()}" alt=""></span>
										<span class="tt-img-roll-over" th:each="image,iter : ${product.otherImages()}">
											<img th:if="${iter.index==0}" src="images/loader.svg" th:data-src="${image}" alt="">
										</span>
									</a>
								</div>
								<div class="tt-description">
									<ul class="tt-add-info">
										<li><a href="#">Library</a></li>
									</ul>
									<h6 class="tt-title"><a th:href="@{/product/} + ${product.id}" th:text="${product.name2()}">name</a></h6>
									<div class="tt-price" th:text="${product.formatPrice()}">
										price
									</div>
								</div>
							</div>
						</div>-->
						<!--<div th:if="${newProducts.size() > 0}">
						    <ul>
						        <div class="tt-item" th:each="product : ${newProducts}">
						            <span th:text="${product.name}">Product Name</span> - 
						            <span th:text="${product.price}">Product Price</span>
						        </div>
						    </ul>
						</div>
						<div th:if="${newProducts.size() == 0}">
						    <p>No new products available.</p>
						</div>-->
					</div>
				</div>
				<!--<div class="divider visible-xs"></div>
				<div class="col-sm-6 col-md-4">
					<h6 class="tt-title-sub"></h6>
					<div class="tt-layout-vertical-listing">
						<div class="tt-item" th:each ="product : ${specialProducts}">
							<div class="tt-layout-vertical">
								<div class="tt-img">
									<a th:href="@{/product/} + ${product.id}">
										<span class="tt-img-default"><img src="images/loader.svg" th:data-src="${product.primaryImage()}" alt=""></span>
										<span class="tt-img-roll-over" th:each="image,iter : ${product.otherImages()}">
											<img th:if="${iter.index==0}" src="images/loader.svg" th:data-src="${image}" alt="">
										</span>
									</a>
								</div>
								<div class="tt-description">
									<ul class="tt-add-info">
										<li><a href="#">Library</a></li>
									</ul>
									<h6 class="tt-title"><a th:href="@{/product/} + ${product.id}" th:text="${product.name2()}">name</a></h6>
									<div class="tt-price" th:text="${product.formatPrice()}">
										price
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="divider visible-sm visible-xs"></div>
				<div class="col-sm-6 col-md-4">
					<h6 class="tt-title-sub"></h6>
					<div class="tt-layout-vertical-listing">
						<div class="tt-item" th:each ="product : ${featuredProducts}">
							<div class="tt-layout-vertical">
								<div class="tt-img">
									<a th:href="@{/product/} + ${product.id}">
										<span class="tt-img-default"><img src="images/loader.svg" th:data-src="${product.primaryImage()}" alt=""></span>
										<span class="tt-img-roll-over" th:each="image,iter : ${product.otherImages()}">
											<img th:if="${iter.index==0}" src="images/loader.svg" th:data-src="${image}" alt="">
										</span>
									</a>
								</div>
								<div class="tt-description">
									<ul class="tt-add-info">
										<li><a href="#">Library</a></li>
									</ul>
									<h6 class="tt-title"><a th:href="@{/product/} + ${product.id}" th:text="${product.name2()}">name</a></h6>
									<div class="tt-price" th:text="${product.formatPrice()}">
										price
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<!--<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="tt-block-title">
				<h2 class="tt-title">THƯƠNG HIỆU</h2>
				<div class="tt-description">NỔI TIẾNG ĐƯỢC BÁN TRONG CỬA HÀNG</div>
			</div>
			<div class="row tt-img-box-listing">
				<div class="col-6 col-sm-4 col-md-3">
                	<a href="#" class="tt-img-box">
                		<img src="images/logoshoe/nike_logo.png"  alt="">
                	</a>
				</div>
				<div class="col-6 col-sm-4 col-md-3">
					<a href="#" class="tt-img-box">
                		<img src="images/logoshoe/Converse-Logo.jpg" alt="">
                	</a>
				</div>
				<div class="col-6 col-sm-4 col-md-3">
					<a href="#" class="tt-img-box">
                		<img src="images/logoshoe/logo_adidas.jpg" alt="">
                	</a>
				</div>
				<div class="col-6 col-sm-4 col-md-3">
					<a href="#" class="tt-img-box">
                		<img src="images/logoshoe/alacoste-Logo.jpg"  alt="">
                	</a>
				</div>
				<div class="col-6 col-sm-4 col-md-3">
					<a href="#" class="tt-img-box">
                		<img src="images/logoshoe/logo_newbalan.jpg"  alt="">
                	</a>
				</div>
				<div class="col-6 col-sm-4 col-md-3">
					<a href="#" class="tt-img-box">
                		<img src="images/logoshoe/logo_lv.jpg"  alt="">
                	</a>
				</div>
				<div class="col-6 col-sm-4 col-md-3">
					<a href="#" class="tt-img-box">
                		<img src="images/logoshoe/puma-logo1.jpg"  alt="">
                	</a>
				</div>
				<div class="col-6 col-sm-4 col-md-3">
					<a href="#" class="tt-img-box">
                		<img src="images/logoshoe/logo_reebok.jpg"  alt="">
                	</a>
				</div>
			</div>
		</div>
	</div>-->
</div>

<!-- footer -->
<footer th:replace="~{shopper/fragments/footer}"></footer>

<!-- modal -->
<div th:replace="~{shopper/fragments/modal :: addToCart}"></div>
<!-- <div id="quickViewContainer"></div> -->
<div th:replace="~{shopper/fragments/modal :: quickView}"></div>

<script src="external/jquery/jquery.min.js"></script>
<script src="external/bootstrap/js/bootstrap.min.js"></script>
<script src="external/slick/slick.min.js"></script>
<script src="external/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="external/panelmenu/panelmenu.js"></script>
<script src="external/instafeed/instafeed.min.js"></script>
<script src="external/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="external/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="external/countdown/jquery.plugin.min.js"></script>
<script src="external/countdown/jquery.countdown.min.js"></script>
<script src="external/lazyLoad/lazyload.min.js"></script>
<script src="js/main.js"></script>
<!-- form validation and sending to mail -->
<script src="external/form/jquery.form.js"></script>
<script src="external/form/jquery.validate.min.js"></script>
<script src="external/form/jquery.form-init.js"></script>
<!-- custom -->
<script src="js/toastr.min.js" type="text/javascript"></script>
<script src="js/header.js" type="text/javascript"></script>
<script src="js/product-box.js" type="text/javascript"></script>
<script src="https://kit.fontawesome.com/e8c97ff706.js" crossorigin="anonymous"></script>
</body>
</html>